@import "../../global.scss";

// * {
//   border: 1px dashed red;
// }
.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  padding-top: 17vh;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-bet;
  transition: all 0.5s ease;

  &.active {
    right: 0;
  }

  ul {
    width: 90%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 30px;
    color: white;

    li {
      height: 45px;
      margin-bottom: 25px;
      padding-left: 0vw;
      display: flex;
      border-radius: 12px 0 0 12px;
      line-height: 45px;
      transition: all 0.5s ease;

      @include mobile {
        padding-left: 0vw;
      }
      
      a {
        width: 100%;
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        padding-left: 2vw;

        @include mobile {
          padding-left: 6vw;
        }
  
      }
      
      & a:hover {
        font-weight: 600;
        background-color: lightyellow;
        color: $mainColor;
      }
    }
  }
  li:hover {
    background-color: lightyellow ;
    color: $mainColor;
  }
}
