@import "../../global.scss";

.portfolioList {
    font-size: 15px;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    &.active {
      background-color: $mainColor;
      color: lightyellow;
    }
  }