@import "../../global.scss";

.works {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 10%;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    // @include mobile {
    //   display: none;
    // }

    &.left {
      top: 50%;
      left: 10%;
      transform: rotateY(180deg);

      @include mobile {
        top: 85%;
      }
    }
    &.right {
      top: 50%;
      left: 85%;

      @include mobile {
        top: 85%;
        left: 75%;
      }
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 470px;
      top: 3%;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 60vw;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90vw;
        }

        .left {
          flex: 4;
          height: 80%;
          // background-color: yellowgreen;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 15px;

          @include mobile {
            flex: 0.4;
            padding: 0;
          }

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              height: 90%;
            }
            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: coral;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;

              @include mobile {
                width: 30px;
                height: 30px;
                
              }
            }
            h1 {
              padding: 10px 0 20px 0;
              color: #023e8a;

              @include mobile {
                padding: 10px 0 10px 0;
              }
            }

            span {
              padding: 20px 0;
              font-weight: 600;
              text-decoration: underline;

              @include mobile {
                padding: 0;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          // background-color: yellow;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          @include mobile {
            flex: 0.6;
          }

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
